<?xml version="1.0" ?>
<!--
/**
 * Pratech_ReviewRatings
 *
 * @category  XML
 * @package   Pratech\ReviewRatings
 * @author    Vivek Kumar <vivek.kumar@pratechbrands.com>
 * @copyright 2022 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="review" translate="label" sortOrder="10" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Review</label>
            <tab>pratech</tab>
            <resource>Pratech_Catalog::reviews</resource>
            <group id="export" translate="label" sortOrder="10" showInDefault="1"
                   showInWebsite="0" showInStore="0">
                <label>Review Export</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="page_size" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Page Size</label>
                </field>
            </group>
        </section>
    </system>
</config>
