<?xml version="1.0"?>
<!--
/**
 * Pratech_Filters
 *
 * @category  XML
 * @package   Pratech\Filters
 * @author    Vivek Kumar <vivek.kumar@pratechbrands.com>
 * @copyright 2023 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Pratech_Filters::filters" title="Filter Management" module="Pratech_Filters"
             resource="Pratech_Filters::filters" parent="Pratech_Banners::pratech"
             sortOrder="150" translate="true"/>
        <add id="Pratech_Filters::filters_position" title="Manage Filters Position" module="Pratech_Filters"
             resource="Pratech_Filters::filters_position" parent="Pratech_Filters::filters"
             action="pratech_filter/filters/index" sortOrder="10" translate="true"/>
        <add id="Pratech_Filters::quick_filter" title="Manage Quick Filters" module="Pratech_Filters"
             resource="Pratech_Filters::quick_filter" parent="Pratech_Filters::filters"
             action="pratech_filter/quickfilters/index" sortOrder="10" translate="true"/>
    </menu>
</config>
