<table class="return-history-table">
    <thead>
        <tr>
            <th data-bind="i18n: 'Date'" class="return-head"></th>
            <th data-bind="i18n: 'Сhanges'" class="return-head"></th>
            <th data-bind="i18n: 'Who changed'" class="return-head"></th>
        </tr>
    </thead>
    <tbody>
        <!--  ko foreach: $data.historyData  -->
        <tr class="return-row">
            <td class="return-column -date" data-bind="text: event_date"></td>
            <td class="return-column -changes" data-bind="text: message"></td>
            <td class="return-column -name" data-bind="text: event_initiator_name"></td>
        </tr>
        <!-- /ko -->
    </tbody>
</table>
