<div class="return-fieldset-wrapper"
     css="$data.additionalClasses"
     attr="'data-index': index"
     data-bind="visible: $data.visible === undefined ? true: $data.visible">
    <div class="return-fieldset-wrapper-title">
        <strong class="return-strong" css="'_loading': loading,
                      '_error': error">
            <!-- ko if $data.label: -->
                <span data-bind="i18n: $data.label"></span>
            <!-- /ko -->
            <span class="admin__page-nav-item-messages" if="collapsible">
                <span class="admin__page-nav-item-message _changed">
                    <span class="admin__page-nav-item-message-icon"></span>
                    <span class="admin__page-nav-item-message-tooltip"
                          data-bind="i18n: 'Changes have been made to this section that have not been saved.'">
                    </span>
                </span>
                <span class="admin__page-nav-item-message _error">
                    <span class="admin__page-nav-item-message-icon"></span>
                    <span class="admin__page-nav-item-message-tooltip"
                          data-bind="i18n: 'This tab contains invalid data. Please resolve this before saving.'">
                    </span>
                </span>
                <span class="admin__page-nav-item-message-loader">
                    <span class="spinner">
                       <span repeat="8"/>
                    </span>
               </span>
            </span>
        </strong>
    </div>
    <div class="return-admin__fieldset-wrapper-content return-fieldset-container">
        <input type="radio" name="tabset" id="return-tab1" class="return-rma return-radio" checked />
        <label class="return-tab" for="return-tab1" data-bind="i18n: 'RMA'"></label>
        <input type="radio" name="tabset" id="return-tab2" class="return-information return-radio" />
        <label class="return-tab" for="return-tab2" data-bind="i18n: 'Customer Information'"></label>
        <!-- ko if: $data.custom_fields_label -->
        <input type="radio" name="tabset" id="return-tab3" class="return-bank return-radio" />
        <label class="return-tab" for="return-tab3" data-bind="text: $data.custom_fields_label"></label>
        <!-- /ko -->
        <!-- ko if: $data.rating > 0 -->
        <input type="radio" name="tabset" id="return-tab4" class="return-rating return-radio" />
        <label class="return-tab" for="return-tab4">
            <p class="return-rated-rating -admin">
                <span class="return-star" data-bind="css: 'return-star-' + $data.rating"></span>
            </p>
        </label>
        <!-- /ko -->
        <fieldset class="return-admin__fieldset return-fieldset"
                  each="data: elems, as: 'element'"
                  render=""/>
    </div>
</div>
