<?xml version="1.0"?>
<!--
/**
 * Pratech_Return
 *
 * @category  XML
 * @package   Pratech\Return
 * @author    Vivek Kumar <vivek.kumar@pratechbrands.com>
 * @copyright 2024 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Pratech_Return::config" title="Order Return Settings" sortOrder="1000"/>
                        </resource>
                    </resource>
                </resource>

                <resource id="Magento_Sales::sales">
                    <resource id="Pratech_Return::return_management" title="Return Management" sortOrder="100">
                        <resource id="Pratech_Return::manage" title="Manage Requests"/>
                        <resource id="Pratech_Return::manage_delete" translate="title" title="Delete Requests"/>
                        <resource id="Pratech_Return::pending" title="Customers` Pending Requests"/>
                        <resource id="Pratech_Return::pending_delete"
                                  translate="title"
                                  title="Delete Customers` Pending Requests"
                        />
                        <resource id="Pratech_Return::archive" title="Archived Requests"/>
                        <resource id="Pratech_Return::archive_delete" translate="title"
                                  title="Delete Archived Requests"/>
                    </resource>

                    <resource id="Pratech_Return::return" title="Return Settings" sortOrder="101">
                        <resource id="Pratech_Return::reason" title="Return Reasons"/>
                        <resource id="Pratech_Return::reject_reason" title="Return Reject Reasons"/>
                        <resource id="Pratech_Return::status" title="Return Statuses"/>
                        <resource id="Pratech_Return::return_create" title="Return Create"/>
                        <resource id="Pratech_Return::request_view" title="Return View"/>
                        <resource id="Pratech_Return::request_save" title="Return Save"/>
                        <resource id="Pratech_Return::request_process" title="Return Process"/>
                        <resource id="Pratech_Return::request_reject" title="Return Reject"/>
                        <resource id="Pratech_Return::refund_initiate" title="Initiate Return Refund"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
