<?xml version="1.0"?>
<!--
/**
 * Pratech_CodRestriction
 *
 * @category  XML
 * @package   Pratech\CodRestriction
 * @author    Vivek Kumar <vivek.kumar@pratechbrands.com>
 * @copyright 2025 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_after">
        <observer name="pratech_cod_order_counter"
            instance="Pratech\CodRestriction\Observer\SalesOrderSaveAfter" />
    </event>
</config>
