<?xml version="1.0"?>
<!--
/**
 * Pratech_Order
 *
 * @category  XML
 * @package   Pratech\Order
 * @author    Vivek Kumar <vivek.kumar@pratechbrands.com>
 * @copyright 2024 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Sales::sales" title="Sales" translate="title" sortOrder="20">
                    <resource id="Magento_Sales::sales_operation" title="Operations" translate="title" sortOrder="10">
                        <resource id="Pratech_Order::shipment_track_updates" title="Shipment Track Updatess" translate="true" sortOrder="100"/>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Sales::shipment_statuses"  title="Shipment Status" translate="title" sortOrder="50" />
                        <resource id="Magento_Sales::shipment_statuses_delete"  title="Shipment Status Delete" translate="title" sortOrder="55" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>