@return-icon__checkbox: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3Qgd2lkdGg9IjEzIiBoZWlnaHQ9IjEzIiByeD0iMyIgZmlsbD0iIzE5NzlDMyIvPjxwYXRoIGQ9Ik0zLjI1IDYuNWwyLjYgMi42IDMuOS00LjU1IiBzdHJva2U9IiNmZmYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==');

.return-fieldset-wrapper.return-return-wrap {
    padding: 0;
}

.return-return-wrap {
    & {
        margin-bottom: 30px;
    }

    > .return-title {
        margin-bottom: 20px;
        padding: 20px 20px 0;
        font-size: 17px;
        font-weight: 600;
    }
}

.return-return-table {
    & {
        padding: 0 1.5rem 1.5rem;
        width: 100%;
    }

    .return-head {
        padding: 0 15px 15px;
        text-align: left;
        font-weight: 600;
        font-size: 12px;
        line-height: 19px;
        color: #777;
        border-bottom: 1px solid #EBEEF5;
    }

    .return-head:first-child {
        padding-left: 110px;
    }

    .return-row:not(:first-child):not(.-no-border) {
        border-top: 1px solid #EBEEF5;
    }

    .return-cell {
        padding: 15px;
    }
}

.return-product-wrap {
    & {
        display: flex;
    }

    > .return-img {
        margin-right: 20px;
        width: 75px;
    }

    > .return-info {
        width: 70%;
        word-break: break-word;
    }

    .return-item {
        margin: 0;
    }
}

.return-button-rma {
    display: block;
    margin-top: 15px;
    cursor: pointer;
}

.return-reason-control > .return-expired {
    margin: 0;
    max-width: 205px;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
}

.return-rma-details,
.return-reason-control {
    > .return-select {
        margin: 0 0 5px;
        max-width: 205px;
    }
}

.return-return-qty-select {
    box-sizing: border-box;
    padding: 10px 5px;
    max-width: 120px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 1px;
}

.return-return-qty {
    box-sizing: border-box;
    padding: 10px 5px;
    max-width: 80px;
    height: 33px;
    border: 1px solid #ccc;
    border-radius: 1px;
}

.return-checkbox-container {
    & {
        position: relative;
    }

    .return-checkbox {
        display: none;
    }

    .return-label {
        width: 16px;
        height: 16px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 3px;
        background: #fff;
        cursor: pointer;
        display: block;
    }

    .return-checkbox:checked + .return-label {
        border: none;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3Qgd2lkdGg9IjEzIiBoZWlnaHQ9IjEzIiByeD0iMyIgZmlsbD0iIzE5NzlDMyIvPjxwYXRoIGQ9Ik0zLjI1IDYuNWwyLjYgMi42IDMuOS00LjU1IiBzdHJva2U9IiNmZmYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==');
        /* background-image: @return-icon__checkbox; */
        background-size: 16px;
    }
}

.return-action.-amhide {
    display: none;
}

.return-details-block-right .return-details {
    margin: 10px auto 25px auto;
    padding: 12px 10px 7px 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #4962610d;
    font-size: medium;
    text-align: center;
}

.return-tracking-information .return-col {
    border-bottom: 5px solid #fff;
}

.return-select-container {
    flex-basis: 35%;
    margin: 5px 0;
}

.return-tracking-add .return-input {
    flex-basis: 45%;
    margin: 5px 20px;
}

.return-thead .return-col .return-th {
    margin-bottom: 10px;
    padding: 11px 10px;
    border-bottom: 1px solid #ebeef5;
}

.return-items-table .return-thead .return-col {
    padding: 0;
    border-top: none;
}

.return-tracking-information .return-tbody .return-row:first-child .return-col {
    padding-top: 15px;
}

.return-tracking-add {
    & {
        display: flex;
        flex-direction: row;
        margin-top: 5px;
        padding: 0 10px;
        border-radius: 1px;
        background: #fbfbfc;
    }

    .return-input {
        flex-basis: 45%;
        margin: 5px 20px;
    }

    .amreturn-btn {
        margin: 5px 0;
        padding: 7px 36px;
        border: none;
    }

    .return-label {
        display: none;
        margin-bottom: 5px;
        font-weight: 600;
    }

    .return-text {
        box-sizing: border-box;
        width: 100%;
        padding: 6px 10px;
        border: 1px solid #ccc;
        border-radius: 1px;
    }
}

.return-items-table {
    .return-table {
        width: 100%;
    }

    .return-row {
        background: #fbfbfc;
    }

    .return-col {
        padding: 11px 10px;
        text-align: left;
    }

    .table-caption {
        display: none;
    }
}

.return-request-create {
    .return-tab,
    .return-radio {
        display: none;
    }
}

.return-col-chat .return-fieldset-wrapper-title {
    padding: 20px 20px 0;
}

.return-col-tracking,
.return-note-container {
    & {
        width: 49%;
        float: left;
    }

    .admin__control-textarea {
        resize: none;
    }
}

.return-col-details {
    min-height: 260px;
}

.return-review-container {
    margin-top: 25px;
}

.return-request-view {
    .return-rma,
    .return-bank,
    .return-rating,
    .return-information,
    .return-details-info,
    .return-customer-info,
    .return-custom-fields,
    .return-review-container,
    .return-col-details .return-fieldset-wrapper-title {
        display: none;
    }

    .return-rating:checked ~ .return-fieldset .return-review-container,
    .return-bank:checked ~ .return-fieldset .return-custom-fields {
        display: block;
    }

    .return-information:checked ~ .return-fieldset .return-customer-info,
    .return-rma:checked ~ .return-fieldset .return-details-info {
        display: flex;
        padding: 0;
        width: 100%;
    }

    .return-radio:checked + .return-tab {
        border-bottom: 2px solid #007bdb;
        color: #41362f;
    }

    .return-tab {
        & {
            display: inline-block;
            padding: 20px 15px;
            cursor: pointer;
            color: #777;
            font-weight: 600;
            transition: color .3s;
        }

        &:hover {
            color: #41362f;
        }
    }

    .return-customer-data {
        padding: 30px 0 10px;
        width: 50%;
    }

    .return-customer-address {
        margin: 0;
        padding: 30px 0 10px 20px;
        width: 50%;
        border-left: 1px solid #ebeef5;
    }

    .return-customer-information {
        display: flex;
    }

    .return-col-details.return-fieldset-wrapper {
        padding: 0;
    }

    .return-col-tracking,
    .return-col-details {
        margin-bottom: 20px;
    }

    .return-col-status {
        float: left;
        margin-bottom: 20px;
    }
    .refund-status {
        float: right!important;
    }
    .return-col-chat {
        margin: 0 0 600px 0;
        padding: 0;
    }

    .return-note-container {
        padding: 0 20px;
        width: 100%;
        border-top: 1px solid rgb(168, 166, 166);
        border-radius: 0 0 10px 10px;
    }
}

.return-request-view .return-fieldset-container {
    & {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        border-radius: 10px;
        background: #fbfbfc;
    }

    .return-fieldset {
        flex-basis: 100%;
        margin: 0;
        padding: 0 20px;
        border-top: 1px solid #ebeef5;
        border-radius: 0 0 10px 10px;
        background: #fff;
    }
}

.return-request-view .return-details-info {
    & {
        flex-direction: row;
        width: auto;
    }

    .return-fieldset-wrapper-title {
        display: none;
    }

    .return-details-container {
        padding: 30px 0 0;
        width: 50%;
        border-right: 1px solid #ebeef5;
    }

    .return-admin__fieldset-wrapper-content {
        padding: 25px 0 0 20px;
        width: 50%;
    }
}

.return-request-view .return-details-info .return-customer-link {
    & {
        padding: 20px 0;
    }

    .return-link {
        box-sizing: border-box;
        margin: 10px 0;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 1px;
        background: #f5f5f5;
    }
}

.return-request-view .return-custom-fields {
    & {
        padding: 10px;
    }

    .return-field {
        margin-bottom: 10px;
    }
}


.return-note-container .return-admin__fieldset {
    display: flex;
}

.return-note-container .return-note-block {
    & {
        margin: 0;
        padding: 10px 0 20px 20px;
        width: 100%;
    }

    .admin__field-label {
        margin-bottom: 15px;
        font-size: 17px;
        text-align: left;
    }
}

.return-col-tracking .return-tracking-information {
    padding: 20px;
}

.return-col-tracking .return-fieldset-wrapper-title {
    display: none;
}

.return-col-tracking {
    padding: 0;
}

.return-rated-container {
    margin-bottom: 10px;
}

.return-rated-rating {
    & {
        margin: 10px 0;
        width: 130px;
        height: 24px;
        background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzIDEuMjM2bDIuMTkyIDYuNzQ3YTIgMiAwIDAgMCAxLjkwMiAxLjM4Mmg3LjA5NGwtNS43MzkgNC4xN2EyIDIgMCAwIDAtLjcyNyAyLjIzNmwyLjE5MyA2Ljc0Ni01Ljc0LTQuMTdhMiAyIDAgMCAwLTIuMzUgMGwtNS43NCA0LjE3IDIuMTkyLTYuNzQ2YTIgMiAwIDAgMC0uNzI2LTIuMjM3bC01Ljc0LTQuMTdoNy4wOTVhMiAyIDAgMCAwIDEuOTAyLTEuMzgxTDEzIDEuMjM2eiIgc3Ryb2tlPSIjRkZDMTA3IiBzdHJva2Utd2lkdGg9IjIiLz48L3N2Zz4=');
    }

    .return-star {
        & {
            display: inline-block;
            height: 24px;
            background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzIDEuMjM2bDIuMTkyIDYuNzQ3YTIgMiAwIDAgMCAxLjkwMiAxLjM4Mmg3LjA5NGwtNS43MzkgNC4xN2EyIDIgMCAwIDAtLjcyNyAyLjIzNmwyLjE5MyA2Ljc0Ni01Ljc0LTQuMTdhMiAyIDAgMCAwLTIuMzUgMGwtNS43NCA0LjE3IDIuMTkyLTYuNzQ2YTIgMiAwIDAgMC0uNzI2LTIuMjM3bC01Ljc0LTQuMTdoNy4wOTVhMiAyIDAgMCAwIDEuOTAyLTEuMzgxTDEzIDEuMjM2eiIgZmlsbD0iI0ZGQzEwNyIgc3Ryb2tlPSIjRkZDMTA3IiBzdHJva2Utd2lkdGg9IjIiLz48L3N2Zz4=');
        }

        @amreview-stars: 5;

        /* .override-stars (@i) when (@i > 0) {
            &.return-star-@{i} {
                width: @i*26px;
            }
            .override-stars(@i - 1);
        }

        .override-stars (@amreview-stars); */
    }
}

.return-rated-rating.-admin {
    & {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0;
        width: 100px;
        height: 18px;
        background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEwIDIuMjZsMi4wNDIgNC4xMzcuMjMzLjQ3Mi41Mi4wNzYgNC41NjcuNjYzLTMuMzA1IDMuMjIxLS4zNzYuMzY3LjA4OS41MTguNzggNC41NDgtNC4wODUtMi4xNDdMMTAgMTMuODdsLS40NjUuMjQ1LTQuMDg1IDIuMTQ3Ljc4LTQuNTQ4LjA5LS41MTgtLjM3Ny0uMzY3LTMuMzA1LTMuMjIgNC41NjctLjY2NC41Mi0uMDc2LjIzMy0uNDcyTDEwIDIuMjZ6IiBzdHJva2U9IiNGRkMwMDAiIHN0cm9rZS13aWR0aD0iMiIvPjwvc3ZnPg==');
        background-repeat-y: no-repeat;
        background-position-y: bottom;
    }

    .return-star {
        & {
            height: 18px;
            background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEwIDBsMi45MzkgNS45NTUgNi41NzIuOTU1LTQuNzU2IDQuNjM1IDEuMTIzIDYuNTQ1TDEwIDE1bC01Ljg3OCAzLjA5IDEuMTIzLTYuNTQ1TC40ODkgNi45MWw2LjU3Mi0uOTU1TDEwIDB6IiBmaWxsPSIjRkZDMDAwIi8+PC9zdmc+');
        }

        @amreview-stars: 5;

        /* .override-stars (@i) when (@i > 0) {
            &.return-star-@{i} {
                width: @i*20px;
            }
            .override-stars(@i - 1);
        } */

        /* .override-stars (@amreview-stars); */
    }
}
button#refund_initiate {
    background-color: #3e8ed0;
  color: white; 
  border: none;
  padding: 9px 18px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}
button#refund_initiate:hover {
    background-color: #357abd;
}
.return-request-create, .return-request-view {
    & {
        background: #fff;
    }

    .page-content {
        background: #f7f8fA;
    }

    div.page-main-actions {
        & {
            background: #fff;
        }

        &:not(._hidden) {
            margin: 0 -3rem 3rem;
            padding: 1.5rem 3rem;
        }
    }

    footer.page-footer {
        background: #fff;
    }

    .admin__control-select {
        width: 100%;
    }

    .fieldset-wrapper-title {
        border: none;
    }

    .fieldset-wrapper .admin__fieldset {
        padding-top: 0;
    }
}

.return-fieldset-wrapper {
    & {
        padding: 1.5rem;
        border-radius: 1rem;
        background: #fff;
    }

    .return-fieldset-wrapper-title .return-strong {
        font-weight: 600;
        font-size: 1.6rem;
    }

    .return-admin__fieldset {
        border: 0;
    }
}

.return-col-status,
.return-col-details,
.return-col-tracking,
.return-col-chat,
.return-col-message,
.return-return-wrap {
    box-shadow: 0 6px 25px rgba(218, 225, 241, 0.5);
}

.return-col-status, .return-col-message {
    & {
        width: 49%;
        float: right;
    }

    .return-select .admin__field-label {
        display: none;
    }
}

.return-col-message {
    margin-top: 20px;
}

.return-col-details {
    & {
        float: left;
        width: 49%;
        padding-top: 0;
    }

    .admin__field-label {
        text-align: left;
    }
}

.return-col-details .return-admin__fieldset {
    padding-top: 0;
}

.return-col-chat {
    width: 49%;
    float: right;
    margin-top: 20px;
}

.return-request-create {
    .return-note,
    .return-custom-fields {
        margin: 0 -28px;
        padding: 0 28px;
        border-top: 1px solid #ccc;
    }
}

.return-custom-fields .admin__field {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 0;
}

.return-custom-fields .admin__fieldset .admin__field .admin__field-control,
.return-col-chat .return-textarea .admin__field-control,
.return-note .admin__fieldset .return-textarea .admin__field-control {
    width: "calc(100% - 30px)";

    .admin__control-textarea {
        resize: none;
    }
}

.return-request-create .return-details-info {
    padding-left: 0;
    border-right: 1px solid #ccc;
    border-radius: 0;
}

.return-request-create .return-customer-info {
    margin-left: -5px;
    border-left: 1px solid #ccc;
    border-radius: 0;
}

.return-details-info,
.return-customer-info {
    display: inline-flex;
    flex-direction: column;
    width: 50%;
}

.return-customer-address {
    margin-top: 20px;
}

.return-details-block {
    & {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 20px;
    }

    .return-type,
    .return-details {
        flex-basis: 50%;
        margin-bottom: 10px;
        min-width: 150px;
    }

    .return-date {
        color: #777;
    }
}

.return-fieldset-wrapper-title {
    margin-bottom: 10px;
}

.return-checkbox-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}

.return-status {
    padding: 0 10px 1px;
    border-radius: 4px;
    color: #fff;
    background: #1e79c2;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.return-status-col {
    width: 250px;
}

.return-request-create .return-col-details .return-fieldset-wrapper-title,
.return-request-create .return-customer-link {
    display: block;
}

.return-request-create .return-note-container {
    padding: 0;
    width: 100%;
}

.return-request-create .return-shipping-label {
    margin: 0;
}

.return-attach-file {
    .admin__field-label {
        margin-bottom: 15px;
        font-size: 17px;
    }

    .return-attach {
        display: none;
    }

    .return-file {
        margin: 5px 0;
        padding-left: 20px;
        /* color: @return-btn__color_blue; */
    }

    .return-label.-newreturn:before {
        top: 4px;
        left: 0;
        width: 17px;
        height: 16px;
        /* background-image: @return-icon__attach_file; */
    }
}

.return-chat-file.-newreturn {
    & {
        display: flex;
        align-items: center;
        margin: 0;
    }

    &:before {
        top: 7px;
    }

    .return-file {
        padding: 0;
    }

    .return-delete {
        margin-left: 10px;
        padding: 0;
    }
}

.return-history-modal {
    margin-bottom: 40px;
}

.return-history-table {
    & {
        width: 100%;
    }

    .return-head {
        box-sizing: border-box;
        margin-bottom: 40px;
        padding: 10px 12px;
        border: 1px solid #89837f;
        text-align: left;
        background: #4f4944;
        color: #fff;
    }

    .return-column {
        padding: 10px 12px;
        min-width: 120px;
    }

    .return-column.-date {
        min-width: 120px;
    }

    .return-column.-name {
        min-width: 160px;
    }

    .return-column.-changes {
        border-left: 1px dashed #d6d6d6;
        border-right: 1px dashed #d6d6d6;
        white-space: pre-wrap;
    }

    .return-row:nth-child(even) {
        background: #f5f5f5;
    }
}

._return-strong {
    font-weight: 600;
}

.return-details-container-right {
    width: 50%;
}

.return-details-block-right {
    width: 100% !important;
    padding-left: 20px;
    padding-top: 40px;
}

img.uploaded-items-images {
    width: 40px;
    height: 40px;
    display: inline-block;
    object-fit: cover;
}

.uploaded-items-images-container {
    padding: 3px;
    text-align: left;
}

.return-payment-details {
    background-color: #f9f9f9;
    border: 2px solid #007bff;
    padding: 10px;
    margin: 15px 10px;
    border-radius: 6px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.return-payment-title {
    font-size: 16px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 5px;
}
.return-payment-text {
    font-size: 14px;
    color: #333;
    margin: 2px 0;
}
.return-payment-label {
    font-weight: bold;
    color: #000;
}

