<?xml version="1.0" ?>
<!--
/**
 * Pratech_Order
 *
 * @category  XML
 * @package   Pratech\Order
 * @author    Puneet Mittal <puneet.mittal@pratechbrands.com>
 * @copyright 2023 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="cron_schedule" translate="label" sortOrder="10" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <group id="payment_review_order_status" translate="label" sortOrder="10" showInDefault="1"
                   showInWebsite="0" showInStore="0">
                <label>Change Order Status of Payment Review Orders</label>
                <field id="status" translate="label" type="select" sortOrder="1" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Status</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="packed_order_status" translate="label" sortOrder="10" showInDefault="1"
                   showInWebsite="0" showInStore="0">
                <label>Change Order Status To Packed </label>
                <field id="status" translate="label" type="select" sortOrder="1" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Status</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="start_time_after_processing" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Start Time After Processing (In Hours)</label> 
                    <comment>Set the time interval after processing to begin executing the cron job (Currentdate - x hours).</comment>
                </field>
                <field id="end_time_after_processing" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>End Time After Processing (In Hours)</label>
                    <comment>Set the time interval after processing to stop executing the cron job (Currentdate - x hours).</comment>
                </field>
            </group>
            <group id="cod_order_status_update" translate="label" sortOrder="20" showInDefault="1"
                   showInWebsite="0" showInStore="0">
                <label>Update COD Orders Status (Pending to Processing)</label>
                <field id="status" translate="label" type="select" sortOrder="1" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Status</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="time_to_processing" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Time to Change Status (Minutes)</label>
                    <comment>Enter the number of minutes after which COD orders will change to Processing</comment>
                    <validate>validate-number</validate>
                </field>
            </group>
        </section>
        <section id="customers" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <group id="orders" translate="label" type="text" sortOrder="1" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Order</label>
                <field id="cancellation_time" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Order Cancellation Time(In Hours)</label>
                </field>
                <field id="tracking_host_url" translate="label" type="text" sortOrder="5" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Order Tracking Host URL</label>
                </field>
            </group>
            <group id="cod_verification" translate="label" type="text" sortOrder="2" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>COD Verification</label>
               <field id="status" translate="label" type="select" sortOrder="1" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Status</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cod_confirm_threshold" translate="label" type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>COD Confirm Threshold Amount</label>
                    <validate>validate-digits</validate>
                </field>
            </group>
        </section>
    </system>
</config>
