<?xml version="1.0"?>
<!--
/**
 * Pratech_Customer
 *
 * @category  XML
 * @package   Pratech\Customer
 * @author    Vivek Kumar <vivek.kumar@pratechbrands.com>
 * @copyright 2022 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <product>
            <purchased_products_carousel>
                <carousel_title>Buy Again</carousel_title>
                <no_of_products_in_carousel>10</no_of_products_in_carousel>
            </purchased_products_carousel>
        </product>
    </default>
</config>
