<?xml version="1.0"?>
<!--
/**
 * Hyuga_Catalog
 *
 * @category  XML
 * @package   Hyuga\Catalog
 * @author    Puneet Mittal <puneet.mittal@pratechbrands.com>
 * @copyright 2025 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <vinculum>
            <general>
                <enabled>1</enabled>
            </general>
        </vinculum>
    </default>
</config>
