<?xml version="1.0"?>
<!--
/**
 * Hyuga_Catalog
 *
 * @category  XML
 * @package   Hyuga\Catalog
 * @author    Puneet Mittal <puneet.mittal@pratechbrands.com>
 * @copyright 2025 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- Clear cache on product save -->
    <event name="catalog_product_save_after">
        <observer name="hyuga_clear_product_attribute_cache"
                  instance="Hyuga\Catalog\Observer\ClearProductAttributeCacheObserver" />
        <observer name="hyuga_clear_variants_cache"
                  instance="Hyuga\Catalog\Observer\ClearVariantsCacheObserver" />
    </event>

    <!-- Clear cache on product delete -->
    <event name="catalog_product_delete_after">
        <observer name="hyuga_clear_product_attribute_cache"
                  instance="Hyuga\Catalog\Observer\ClearProductAttributeCacheObserver" />
        <observer name="hyuga_clear_variants_cache"
                  instance="Hyuga\Catalog\Observer\ClearVariantsCacheObserver" />
    </event>

    <!-- Clear attribute metadata cache when attributes change -->
    <event name="eav_entity_attribute_save_after">
        <observer name="hyuga_clear_attribute_metadata_cache"
                  instance="Hyuga\Catalog\Observer\ClearAttributeMetadataCacheObserver" />
    </event>

    <event name="eav_entity_attribute_delete_after">
        <observer name="hyuga_clear_attribute_metadata_cache"
                  instance="Hyuga\Catalog\Observer\ClearAttributeMetadataCacheObserver" />
    </event>

    <event name="catalog_entity_attribute_save_after">
        <observer name="hyuga_clear_attribute_metadata_cache"
                  instance="Hyuga\Catalog\Observer\ClearAttributeMetadataCacheObserver" />
    </event>

    <!-- Update Inventory Clear Events -->
    <event name="update_stock_by_vinculum">
        <observer name="update_stock_by_vinculum"
                  instance="Hyuga\Catalog\Observer\ClearStockManagementCache"/>
    </event>
</config>
