<?xml version="1.0"?>
<!--
/**
 * Pratech_ProteinCalculator
 *
 * PHP version 8.x
 *
 * @category  PHP
 * @package   Pratech\ProteinCalculator
 * @author    Himmat Singh <himmat.singh@pratechbrands.com>
 * @copyright 2024 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 **/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Pratech_Banners::pratech" title="Pratech" sortOrder="150">
                    <resource id="Pratech_ProteinCalculator::multipliers" title="Protein Calculator" translate="title"
                              sortOrder="10">
                        <resource id="Pratech_ProteinCalculator::multipliersData" title="Manage Multipliers" translate="title"
                                  sortOrder="10"/>
                        <resource id="Pratech_ProteinCalculator::dietData" title="Manage Diet" translate="title" sortOrder="20"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
