<?xml version="1.0"?>
<!-- /**
 * Pratech_ProteinCalculator
 *
 * PHP version 8.x
 *
 * @category  PHP
 * @package   Pratech\ProteinCalculator
 * @author    Himmat Singh <himmat.singh@pratechbrands.com>
 * @copyright 2024 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 **/ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Pratech\ProteinCalculator\Api\ProteinCalculatorInterface"
        type="Pratech\ProteinCalculator\Model\ProteinCalculator"/>
    <preference for="Pratech\ProteinCalculator\Api\Data\MultiplierInterface" 
        type="Pratech\ProteinCalculator\Model\Multiplier"/>
    <preference for="Pratech\ProteinCalculator\Api\Data\DietInterface" 
        type="Pratech\ProteinCalculator\Model\Diet"/>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="calculator_multiplier_listing_data_source" xsi:type="string">
                    CalculatorGridCollection
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="CalculatorGridCollection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">pratech_protein_multipliers</argument>
            <argument name="resourceModel" xsi:type="string">
                Pratech\ProteinCalculator\Model\ResourceModel\Multiplier
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="calculator_diet_listing_data_source" xsi:type="string">
                    CalculatorDietGridCollection
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="CalculatorDietGridCollection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">pratech_protein_diet</argument>
            <argument name="resourceModel" xsi:type="string">
                Pratech\ProteinCalculator\Model\ResourceModel\Diet
            </argument>
        </arguments>
    </virtualType>
</config>
