<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Pratech_SlackNotifier
 *
 * @category  XML
 * @package   Pratech\SlackNotifier
 * @author    Vivek Kumar <vivek.kumar@pratechbrands.com>
 * @copyright 2025 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="slack_notifier" frontName="slack_notifier">
            <module name="Pratech_SlackNotifier" before="Magento_Backend"/>
        </route>
    </router>
</config>
