<?xml version="1.0"?>
<!--
/**
 * Pratech_Warehouse
 *
 * @category  XML
 * @package   Pratech\Warehouse
 * @author    Puneet Mittal <puneet.mittal@pratechbrands.com>
 * @copyright 2025 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Pratech_Warehouse::warehouse" title="Warehouse Management" module="Pratech_Warehouse" sortOrder="100"
             parent="Pratech_Banners::pratech" resource="Pratech_Warehouse::warehouse"/>
        <add id="Pratech_Warehouse::warehouse_manage" title="Manage Warehouses" module="Pratech_Warehouse"
             sortOrder="10" parent="Pratech_Warehouse::warehouse" action="pratech_warehouse/warehouse/index"
             resource="Pratech_Warehouse::warehouse_manage"/>
        <add id="Pratech_Warehouse::warehouse_inventory" title="Manage Inventory" module="Pratech_Warehouse"
             sortOrder="20" parent="Pratech_Warehouse::warehouse" action="pratech_warehouse/inventory/index"
             resource="Pratech_Warehouse::inventory_manage"/>
        <add id="Pratech_Warehouse::warehouse_sla" title="Manage SLA" module="Pratech_Warehouse" sortOrder="30"
             parent="Pratech_Warehouse::warehouse" action="pratech_warehouse/sla/index"
             resource="Pratech_Warehouse::sla_manage"/>
        <add id="Pratech_Warehouse::pincode_manage" title="Manage Pincode Serviceability" module="Pratech_Warehouse"
             sortOrder="40" parent="Pratech_Warehouse::warehouse" action="pratech_warehouse/pincode/index"
             resource="Pratech_Warehouse::pincode_manage"/>
    </menu>
</config>
