<?xml version="1.0" ?>
<!--
/**
 * Pratech_Warehouse
 *
 * @category  XML
 * @package   Pratech\Warehouse
 * @author    Puneet Mittal <puneet.mittal@pratechbrands.com>
 * @copyright 2025 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="warehouse" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Warehouse Management</label>
            <tab>pratech</tab>
            <resource>Pratech_Warehouse::warehouse</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="default_pincode" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Default Pincode</label>
                    <comment>Set the value which needs to be shown to new user on our website</comment>
                </field>
                <field id="dropship_delivery_eta" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Dropship Inventory Delivery ETA</label>
                    <comment>Set the value which needs to be shown when inventory is of dropship</comment>
                </field>
                <field id="cut_off_time" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Cut Off Time</label>
                    <comment>Set the value which needs to be shown for cut-off time for same day delivery</comment>
                </field>
            </group>
            <group id="vinculum" translate="label" type="text" sortOrder="20" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Vinculum</label>
                <field id="enable" translate="label" type="select" sortOrder="1"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Vinculum Sync</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_key" translate="label" type="obscure" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="api_owner" translate="label" type="obscure" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>API Owner</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="bearer_token" translate="label" type="obscure" sortOrder="3" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Bearer Token</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="base_url" translate="label" type="text" sortOrder="4" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>API Base URL</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="clickpost" translate="label" type="text" sortOrder="30" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Clickpost</label>
                <field id="api_key" translate="label" type="obscure" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="api_username" translate="label" type="obscure" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>API Username</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="origin" translate="label" type="text" sortOrder="4" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Origin Pincode</label>
                </field>
                <field id="base_url" translate="label" type="text" sortOrder="4" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>API Base URL</label>
                </field>
            </group>
        </section>
    </system>
</config>
