<?xml version="1.0"?>
<!--
/**
 * Pratech_Promotion
 *
 * @category  XML
 * @package   Pratech\Promotion
 * @author    Puneet Mittal <puneet.mittal@pratechbrands.com>
 * @copyright 2024 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Pratech_Promotion::promotion_management" title="Promotion Management" module="Pratech_Promotion"
             resource="Pratech_Promotion::manage"
             parent="Pratech_Quiz::growth"
             sortOrder="500" translate="true"/>
        <add id="Pratech_Promotion::campaign" title="Campaign" module="Pratech_Promotion"
             resource="Pratech_Promotion::manage"
             parent="Pratech_Promotion::promotion_management"
             action="promotion/campaign/index"
             sortOrder="10" translate="true"/>
    </menu>
</config>