<?xml version="1.0" ?>
<!--
/**
 * Pratech_DiscountReport
 *
 * @category  XML
 * @package   Pratech\DiscountReport
 * @author    Akash Panwar <akash.panwar@pratechbrands.com>
 * @copyright 2024 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Pratech\DiscountReport\Api\LogRepositoryInterface"
                type="Pratech\DiscountReport\Model\LogRepository"/>
    <preference for="Pratech\DiscountReport\Api\Data\LogInterface"
                type="Pratech\DiscountReport\Model\Log"/>
    <preference for="Pratech\DiscountReport\Api\Data\LogSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>
</config>
