<?xml version="1.0"?>
<!--
/**
 * Pratech_Coupon
 *
 * @category  XML
 * @package   Pratech\Coupon
 * @author    Puneet Mittal <puneet.mittal@pratechbrands.com>
 * @copyright 2022 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Pratech\Coupon\Api\CouponManagementInterface"
                type="Pratech\Coupon\Model\CouponManagement"/>
    <preference for="Magento\Quote\Model\CouponManagement"
                type="Pratech\Coupon\Plugin\Model\CouponManagement"/>
    <preference for="Amasty\Coupons\Model\DiscountCollector"
                type="Pratech\Coupon\Plugin\Model\DiscountCollectorPlugin"/>
    <preference for="Amasty\Coupons\Model\Config"
                type="Pratech\Coupon\Plugin\Model\Config"/>
    <type name="Magento\SalesRule\Controller\Adminhtml\Promo\Quote\Save">
        <plugin name="pratech_coupon_save_stackable_rules"
                type="Pratech\Coupon\Plugin\Controller\Promo\Quote\Save"/>
    </type>
    <type name="Magento\SalesRule\Model\ResourceModel\Rule">
        <plugin name="update_stackable_rule_ids_after_save"
                type="Pratech\Coupon\Plugin\SalesRule\UpdateStackableRuleIds" sortOrder="10" />
    </type>
</config>
