<?xml version="1.0"?>
<!--
/**
 * Pratech_StoreCredit
 *
 * @category  XML
 * @package   Pratech\StoreCredit
 * @author    Vivek Kumar <vivek.kumar@pratechbrands.com>
 * @copyright 2023 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Pratech_StoreCredit" setup_version="1.0.0">
        <sequence>
            <module name="Pratech_Base"/>
            <module name="Magento_CustomerBalance"/>
        </sequence>
    </module>
</config>
