<?xml version="1.0" ?>
<!--
/**
 * Pratech_Blog
 *
 * @category  XML
 * @package   Pratech\Blog
 * @author    Akash Panwar <akash.panwar@pratechbrands.com>
 * @copyright 2024 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Pratech_Blog::pratech_blog_category" title="Category" module="Pratech_Blog" sortOrder="9999" resource="Pratech_Blog::Category" parent="Magento_Backend::content_elements" action="pratech_blog/category/index"/>
		<add id="Pratech_Blog::pratech_blog_tag" title="Tags" module="Pratech_Blog" sortOrder="9999" resource="Pratech_Blog::Tag" parent="Magento_Backend::content_elements" action="pratech_blog/tag/index"/>
		<!-- <add id="Pratech_Blog::pratech_blog_comment" title="Comments" module="Pratech_Blog" sortOrder="9999" resource="Pratech_Blog::Comment" parent="Magento_Backend::content_elements" action="pratech_blog/comment/index"/> -->
	</menu>
</config>
