<?xml version="1.0"?>
<!--
/**
 * Pratech_PrepaidDiscount
 *
 * @category  XML
 * @package   Pratech\PrepaidDiscount
 * @author    Puneet Mittal <puneet.mittal@pratechbrands.com>
 * @copyright 2023 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="save_prepaid_discount_to_order"
                  instance="Pratech\PrepaidDiscount\Observer\AddPrepaidDiscountToOrder"/>
    </event>
</config>
