<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Pratech_ThirdPartyIntegration::third_party_integration" title="Third Party Integration"
                          translate="true" sortOrder="300">
                    <resource id="Pratech_ThirdPartyIntegration::dpanda" title="DPanda Integration"
                              translate="true" sortOrder="10"/>
                    <resource id="Pratech_ThirdPartyIntegration::kapture" title="Kapture Integration"
                              translate="true" sortOrder="20"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
