<?xml version="1.0"?>
<!--
/**
 * Pratech_ThirdPartyIntegration
 *
 * @category  XML
 * @package   Pratech\ThirdPartyIntegration
 * @author    Puneet Mittal <puneet.mittal@pratechbrands.com>
 * @copyright 2024 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Pratech\ThirdPartyIntegration\Api\ExternalOrderInterface"
                type="Pratech\ThirdPartyIntegration\Model\ExternalOrder"/>

    <preference for="Pratech\ThirdPartyIntegration\Api\ExternalCustomerInterface"
                type="Pratech\ThirdPartyIntegration\Model\ExternalCustomer"/>

    <!-- Define Logger for Dpanda Rest APIs -->
    <type name="Pratech\ThirdPartyIntegration\Logger\DpandaHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Pratech\ThirdPartyIntegration\Logger\DpandaLogger">
        <arguments>
            <argument name="name" xsi:type="string">dpanda</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Pratech\ThirdPartyIntegration\Logger\DpandaHandler</item>
            </argument>
        </arguments>
    </type>
</config>
