<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <wondersoft>
            <general>
                <enabled>0</enabled>
                <logging_enabled>1</logging_enabled>
                <logging_level>1</logging_level>
            </general>
            <api>
                <base_url>https://hyuga.eshopaid.com/integration/magento/restservices/eshopaidservice.svc</base_url>
                <username>MAGENTO</username>
                <password>Mgnt@30841</password>
                <token_lifetime>30</token_lifetime>
            </api>
            <product_push>
                <enabled>0</enabled>
                <retry_failed>1</retry_failed>
                <company_code>Hyuga</company_code>
            </product_push>
            <price_push>
                <enabled>0</enabled>
                <retry_failed>1</retry_failed>
                <price_list_id>HP</price_list_id>
                <price_list_name>Hyuga Prices</price_list_name>
            </price_push>
            <price_revision>
                <enabled>0</enabled>
                <id_prefix>PR</id_prefix>
            </price_revision>
        </wondersoft>
    </default>
</config>
