<?xml version="1.0"?>
<!--
/**
 * Hyuga_WondersoftIntegration
 *
 * @category  XML
 * @package   Hyuga\WondersoftIntegration
 * @author    Puneet Mittal <puneet.mittal@pratechbrands.com>
 * @copyright 2025 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
        <observer name="hyuga_wondersoft_product_save"
                  instance="Hyuga\WondersoftIntegration\Observer\ProductSaveAfter"/>
    </event>
</config>
