<?xml version="1.0" ?>
<!--
/**
 * Pratech_OfflinePaymentMethods
 *
 * @category  XML
 * @package   Pratech\OfflinePaymentMethods
 * @author    Puneet Mittal <puneet.mittal@pratechbrands.com>
 * @copyright 2023 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <general>
            <country>
                <default>IN</default>
            </country>
            <locale>
                <timezone>Asia/Kolkata</timezone>
                <code>en_US</code>
                <weight_unit>kgs</weight_unit>
            </locale>
        </general>
        <currency>
            <options>
                <allow>INR</allow>
                <base>INR</base>
                <default>INR</default>
            </options>
        </currency>
        <payment>
            <cashondelivery>
                <active>1</active>
            </cashondelivery>
        </payment>
        <system>
            <smtp>
                <disable>1</disable>
            </smtp>
        </system>
    </default>
</config>
