<?xml version="1.0"?>
<!--
/**
 * Pratech_Base
 *
 * @category  XML
 * @package   Pratech\Base
 * @author    Puneet Mittal <puneet.mittal@pratechbrands.com>
 * @copyright 2023 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Pratech\Base\Api\Data\ResponseInterface" type="Pratech\Base\Model\Data\Response"/>
    <type name="Magento\Framework\Webapi\ServiceOutputProcessor">
        <plugin name="custom_api_response" type="Pratech\Base\Plugin\ServiceOutputProcessorPlugin"/>
    </type>

    <!-- Define Logger for logging error -->
    <type name="Pratech\Base\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Pratech\Base\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">pratech_api</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Pratech\Base\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <!-- Define Logger for logging connection logs like redis connection -->
    <type name="Pratech\Base\Logger\ConnectionHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Pratech\Base\Logger\ConnectionLogger">
        <arguments>
            <argument name="name" xsi:type="string">connections</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Pratech\Base\Logger\ConnectionHandler</item>
            </argument>
        </arguments>
    </type>

    <!-- Define Logger for logging Cron Logs -->
    <type name="Pratech\Base\Logger\CronHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Pratech\Base\Logger\CronLogger">
        <arguments>
            <argument name="name" xsi:type="string">pratech_cron</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Pratech\Base\Logger\CronHandler</item>
            </argument>
        </arguments>
    </type>

    <!-- Define Logger for logging Rest APIs -->
    <type name="Pratech\Base\Logger\RestApiHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Pratech\Base\Logger\RestApiLogger">
        <arguments>
            <argument name="name" xsi:type="string">rest_api</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Pratech\Base\Logger\RestApiHandler</item>
            </argument>
        </arguments>
    </type>

    <preference for="Pratech\Base\Api\SystemConfigInterface" type="Pratech\Base\Model\SystemConfig"/>
    <preference for="Magento\SalesRule\Model\Rule\Condition\Address"
                type="Pratech\Base\Plugin\Model\Rule\Condition\Address"/>

    <!-- Apply performance monitoring plugin to all GraphQL resolvers -->
    <type name="Magento\Framework\GraphQl\Query\ResolverInterface">
        <plugin name="pratech_graphql_performance_monitor"
                type="Pratech\Base\Plugin\GraphQlResolverPerformancePlugin"
                sortOrder="1" />
    </type>

    <!-- Define Logger for GraphQL Performance -->
    <type name="Pratech\Base\Logger\GraphQlHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Pratech\Base\Logger\GraphQlLogger">
        <arguments>
            <argument name="name" xsi:type="string">graphql</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Pratech\Base\Logger\GraphQlHandler</item>
            </argument>
        </arguments>
    </type>

</config>
