<?xml version="1.0" ?>
<!--
/**
 * Pratech_Quiz
 *
 * @category  XML
 * @package   Pratech\Quiz
 * @author    Vivek Kumar <vivek.kumar@pratechbrands.com>
 * @copyright 2025 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="QuizGridDataProvider"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">
                Pratech\Quiz\Model\ResourceModel\Quiz\Collection
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="quiz_listing_data_source" xsi:type="string">
                    Pratech\Quiz\Model\Resource\Quiz\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Pratech\Quiz\Model\Resource\Quiz\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">quiz</argument>
            <argument name="resourceModel" xsi:type="string">
                Pratech\Quiz\Model\ResourceModel\Quiz
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="QuizQuestionGridDataProvider"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">
                Pratech\Quiz\Model\ResourceModel\QuizQuestion\Collection
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="quiz_question_listing_data_source" xsi:type="string">
                    Pratech\Quiz\Model\Resource\QuizQuestion\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Pratech\Quiz\Model\Resource\QuizQuestion\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">quiz_question</argument>
            <argument name="resourceModel" xsi:type="string">
                Pratech\Quiz\Model\ResourceModel\QuizQuestion
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="QuizUserAttemptsGridDataProvider"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">
                Pratech\Quiz\Model\ResourceModel\QuizUserAttempt\Collection
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="quiz_userattempts_listing_data_source" xsi:type="string">
                    Pratech\Quiz\Model\Resource\QuizUserAttempt\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Pratech\Quiz\Model\Resource\QuizUserAttempt\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">quiz_user_attempt</argument>
            <argument name="resourceModel" xsi:type="string">
                Pratech\Quiz\Model\ResourceModel\QuizUserAttempt
            </argument>
        </arguments>
    </virtualType>

    <preference for="Pratech\Quiz\Api\QuizManagementInterface" type="Pratech\Quiz\Model\QuizManagement"/>
</config>
