<?xml version="1.0"?>
<!--
/**
 * Pratech_RazorpayLogs
 *
 * @category  XML
 * @package   Pratech\RazorpayLogs
 * @author    Puneet Mittal <puneet.mittal@pratechbrands.com>
 * @copyright 2022 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Pratech_RazorpayLogs::logs" title="Razorpay Logs" module="Pratech_RazorpayLogs"
             resource="Pratech_RazorpayLogs::logs" parent="Magento_Sales::sales_operation"
             action="sales/razorpaylogs" sortOrder="100" translate="true"/>
    </menu>
</config>
