<?xml version="1.0"?>
<!--
/**
 * Pratech_Banners
 *
 * @category  XML
 * @package   Pratech\Banners
 * @author    Puneet Mittal <puneet.mittal@pratechbrands.com>
 * @copyright 2023 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Pratech_Banners::pratech" title="Pratech" module="Pratech_Banners"
             resource="Pratech_Banners::pratech" sortOrder="60" translate="true"/>
        <add id="Pratech_Banners::banner_slider" title="Banner Management" module="Pratech_Banners"
             resource="Pratech_Banners::banner_slider" parent="Pratech_Banners::pratech"
             sortOrder="100" translate="true"/>
        <add id="Pratech_Banners::slider" title="Manage Sliders" module="Pratech_Banners"
             resource="Pratech_Banners::slider" parent="Pratech_Banners::banner_slider"
             action="custom/slider" sortOrder="10" translate="true"/>
        <add id="Pratech_Banners::banner" title="Manage Banners" module="Pratech_Banners"
             resource="Pratech_Banners::banner" parent="Pratech_Banners::banner_slider"
             action="custom/banner" sortOrder="20" translate="true"/>
    </menu>
</config>
