<?xml version="1.0" ?>
<!--
/**
 * Pratech_Customer
 *
 * @category  XML
 * @package   Pratech\Customer
 * @author    Puneet Mittal <puneet.mittal@pratechbrands.com>
 * @copyright 2022 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="product" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Product</label>
            <tab>pratech</tab>
            <resource>Pratech_Catalog::product</resource>
            <group id="purchased_products_carousel" translate="label" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Purchased Products Carousel Config</label>
                <field id="carousel_title" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Title for carousel</label>
                </field>
                <field id="no_of_products_in_carousel" translate="label" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>No of products to show in carousel</label>
                </field>
            </group>
        </section>
    </system>
</config>
