<?xml version="1.0"?>
<!--
/**
 * Pratech_Search
 *
 * @category  XML
 * @package   Pratech\Search
 * @author    Puneet Mittal <puneet.mittal@pratechbrands.com>
 * @copyright 2023 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <search>
            <sort_by_bestseller>
                <enable>1</enable>
                <bestseller_days>30</bestseller_days>
            </sort_by_bestseller>
        </search>
    </default>
</config>
