<?xml version="1.0"?>
<!--
/**
 * Pratech_Search
 *
 * @category  XML
 * @package   Pratech\Search
 * @author    Vivek Kumar <vivek.kumar@pratechbrands.com>
 * @copyright 2023 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Pratech\Search\Api\SearchRepositoryInterface" type="Pratech\Search\Model\Search"/>
    <virtualType name="SearchTermsGridDataProvider"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">
                Pratech\Search\Model\ResourceModel\SearchTerms\Collection
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="search_terms_listing_data_source" xsi:type="string">
                    Pratech\Search\Model\Resource\SearchTerms\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Pratech\Search\Model\Resource\SearchTerms\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">pratech_search_terms</argument>
            <argument name="resourceModel" xsi:type="string">
                Pratech\Search\Model\ResourceModel\SearchTerms
            </argument>
        </arguments>
    </virtualType>
</config>
