<?xml version="1.0"?>
<!--
/**
 * Pratech_ProteinCalculator
 *
 * PHP version 8.x
 *
 * @category  PHP
 * @package   Pratech\ProteinCalculator
 * @author    Himmat Singh <himmat.singh@pratechbrands.com>
 * @copyright 2024 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 **/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Menu/etc/menu.xsd">
    <menu>
        <add id="Pratech_ProteinCalculator::calculator" title="Calculator Data" module="Pratech_ProteinCalculator"
             resource="Pratech_ProteinCalculator::multipliers" parent="Pratech_Quiz::growth"
             sortOrder="200" />
        <add id="Pratech_ProteinCalculator::multipliersData" title="Protein Multipliers" module="Pratech_ProteinCalculator"
             sortOrder="250" parent="Pratech_ProteinCalculator::calculator" action="calculator/multiplier/index"
             resource="Pratech_ProteinCalculator::multipliersData"/>
        <add id="Pratech_ProteinCalculator::dietData" title="Protein Diet" module="Pratech_ProteinCalculator"
             sortOrder="250" parent="Pratech_ProteinCalculator::calculator" action="calculator/diet/index"
             resource="Pratech_ProteinCalculator::dietData"/>     
    </menu>
</config>
