<?xml version="1.0"?>
<!--
/**
 * Hyuga_Cart
 *
 * @category  XML
 * @package   Hyuga\Cart
 * @author    Puneet Mittal <puneet.mittal@pratechbrands.com>
 * @copyright 2025 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Service implementation -->
    <preference for="Hyuga\Cart\Api\CartManagementInterface"
                type="Hyuga\Cart\Model\CartManagement"/>
</config>
