<?xml version="1.0"?>
<!--
/**
 * Pratech_Return
 *
 * @category  XML
 * @package   Pratech\Return
 * @author    Vivek Kumar <vivek.kumar@pratechbrands.com>
 * @copyright 2024 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Pratech\Return\Model\Request\ResourceModel\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">sales_order_return_request</argument>
            <argument name="resourceModel" xsi:type="string">Pratech\Return\Model\Request\ResourceModel\Request
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\View">
        <plugin name="CreateReturnButtonOnOrderView" type="Pratech\Return\Plugin\OrderView\CreateReturnButton"/>
    </type>
</config>
