<?xml version="1.0"?>
<!--
/**
 * Pratech_Return
 *
 * @category  XML
 * @package   Pratech\Return
 * @author    Vivek Kumar <vivek.kumar@pratechbrands.com>
 * @copyright 2024 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Pratech_Return::return_management" title="Return Management" module="Pratech_Return" sortOrder="100"
             parent="Magento_Sales::sales" resource="Pratech_Return::return_management"/>
        <add id="Pratech_Return::manage"
             title="Return Requests"
             module="Pratech_Return"
             sortOrder="30"
             parent="Pratech_Return::return_management"
             action="return/request/manage"
             resource="Pratech_Return::manage"/>
        <add id="Pratech_Return::pending"
             title="Customers` Pending Requests"
             module="Pratech_Return"
             sortOrder="40"
             parent="Pratech_Return::return_management"
             action="return/request/pending"
             resource="Pratech_Return::pending"/>
        <add id="Pratech_Return::archive"
             title="Archived Requests"
             module="Pratech_Return"
             sortOrder="50"
             parent="Pratech_Return::return_management"
             action="return/request/archive"
             resource="Pratech_Return::archive"/>

        <add id="Pratech_Return::return" title="Return Settings"
             module="Pratech_Return" sortOrder="101"
             parent="Magento_Sales::sales"
             resource="Pratech_Return::return"/>
        <add id="Pratech_Return::reason"
             title="Return Reasons"
             module="Pratech_Return"
             sortOrder="30"
             parent="Pratech_Return::return"
             action="return/reason"
             resource="Pratech_Return::reason"/>
        <add id="Pratech_Return::reject_reason"
             title="Return Reject Reasons"
             module="Pratech_Return"
             sortOrder="40"
             parent="Pratech_Return::return"
             action="return/reject_reason"
             resource="Pratech_Return::reject_reason"/>
        <add id="Pratech_Return::status"
             title="Return Statuses"
             module="Pratech_Return"
             sortOrder="60"
             parent="Pratech_Return::return"
             action="return/status"
             resource="Pratech_Return::status"/>
    </menu>
</config>
