<?xml version="1.0"?>
<!--
/**
 * Pratech_Catalog
 *
 * @category  XML
 * @package   Pratech\Catalog
 * @author    Puneet Mittal <puneet.mittal@pratechbrands.com>
 * @copyright 2023 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Pratech_Catalog::category_thumbnail" title="Category Thumbnail Upload"
                          translate="true" sortOrder="300"/>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Pratech_Catalog::product" title="Pratech Catalog"/>
                        </resource>
                    </resource>
                    <resource id="Magento_Backend::stores_attributes">
                        <resource id="Pratech_Catalog::attributes_mapping" title="Attributes Mapping" translate="title"
                                  sortOrder="30"/>
                    </resource>
                </resource>
                <resource id="Magento_Catalog::catalog">
                    <resource id="Magento_Catalog::catalog_inventory">
                        <resource id="Magento_Catalog::products">
                            <resource id="Magento_Catalog::delete_products" title="Mass Delete Products"
                                      translate="title" sortOrder="50"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
