<?xml version="1.0"?>
<!--
/**
 * Pratech_CatalogImportExport
 *
 * @category  XML
 * @package   Pratech\CatalogImportExport
 * @author    Puneet Mittal <puneet.mittal@pratechbrands.com>
 * @copyright 2024 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogImportExport\Model\Export\Product"
                type="Pratech\CatalogImportExport\Plugin\Model\Export\Product"/>

    <type name="Magento\CatalogImportExport\Model\Import\Product\Validator">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="pratechpricevalidator" xsi:type="object">
                    Pratech\CatalogImportExport\Model\Import\Product\Validator\PriceValidator
                </item>
                <item name="floor_price_validator" xsi:type="object">
                    Pratech\CatalogImportExport\Model\Import\Product\Validator\FloorPriceValidator
                </item>
            </argument>
        </arguments>
    </type>
</config>
