<?xml version="1.0"?>
<!--
/**
 * Pratech_StoreCredit
 *
 * @category  XML
 * @package   Pratech\StoreCredit
 * @author    Himmat Singh <himmat.singh@pratechbrands.com>
 * @copyright 2024 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CustomerBalance\Model\Balance\History"
                type="Pratech\StoreCredit\Plugin\Model\Adminhtml\Balance\History"/>   
</config>
