<?xml version="1.0"?>
<!--
/**
 * Pratech_SqsIntegration
 *
 * @category  XML
 * @package   Pratech\SqsIntegration
 * @author    Vivek Kumar <vivek.kumar@pratechbrands.com>
 * @copyright 2023 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sqs" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>SQS</label>
            <tab>pratech</tab>
            <resource>Pratech_SqsIntegration::sqs_config</resource>
            <group id="sqs" translate="label" type="text" sortOrder="500" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>SQS Configuration</label>
                <field id="key" translate="label" type="obscure" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="secret" translate="label" type="obscure" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Secret</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="region" translate="label" type="text" sortOrder="3" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Region</label>
                </field>
                <field id="sms_queue" translate="label" type="text" sortOrder="4" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>SMS Queue</label>
                </field>
                <field id="email_queue" translate="label" type="text" sortOrder="5" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Email Queue</label>
                </field>
                <field id="refund_queue" translate="label" type="text" sortOrder="5" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Auto Refund Queue</label>
                </field>
            </group>
            <group id="communication" translate="label" type="text" sortOrder="500" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Communication Configuration</label>
                <field id="email" translate="label comment" type="select" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable email communications</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sms" translate="label comment" type="select" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable SMS communications</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="refund" translate="label comment" type="select" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable Auto Refund</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
