<?xml version="1.0"?>
<!--
/**
 * Pratech_Warehouse
 *
 * @category  XML
 * @package   Pratech\Warehouse
 * @author    Puneet Mittal <puneet.mittal@pratechbrands.com>
 * @copyright 2025 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Pratech_Warehouse::warehouse" title="Warehouse Management">
                        <resource id="Pratech_Warehouse::warehouse_manage" title="Manage Warehouses"/>
                        <resource id="Pratech_Warehouse::inventory_manage" title="Manage Inventory"/>
                        <resource id="Pratech_Warehouse::sla_manage" title="Manage SLA"/>
                        <resource id="Pratech_Warehouse::pincode_manage" title="Manage Pincode Serviceability"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
