<?xml version="1.0"?>
<!--
/**
 * Pratech_Warehouse
 *
 * @category  XML
 * @package   Pratech\Warehouse
 * @author    Puneet Mittal <puneet.mittal@pratechbrands.com>
 * @copyright 2025 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Existing preferences -->
    <preference for="Pratech\Warehouse\Api\Data\WarehouseInterface" type="Pratech\Warehouse\Model\Warehouse"/>
    <preference for="Pratech\Warehouse\Api\WarehouseRepositoryInterface"
                type="Pratech\Warehouse\Model\WarehouseRepository"/>
    <preference for="Pratech\Warehouse\Api\DeliveryEstimateRepositoryInterface"
                type="Pratech\Warehouse\Model\DeliveryEstimateRepository"/>
    <preference for="Pratech\Warehouse\Api\Data\DeliveryEstimateInterface"
                type="Pratech\Warehouse\Model\Data\DeliveryEstimate"/>
    <preference for="Pratech\Warehouse\Api\Data\WarehouseInventoryInterface"
                type="Pratech\Warehouse\Model\WarehouseInventory"/>
    <preference for="Pratech\Warehouse\Api\Data\InventoryListInterface"
                type="Pratech\Warehouse\Model\Data\InventoryList"/>
    <preference for="Pratech\Warehouse\Api\Data\WarehouseSlaInterface" type="Pratech\Warehouse\Model\WarehouseSla"/>
    <preference for="Pratech\Warehouse\Api\WarehouseSlaRepositoryInterface"
                type="Pratech\Warehouse\Model\WarehouseSlaRepository"/>
    <preference for="Pratech\Warehouse\Api\WarehouseInventoryRepositoryInterface"
                type="Pratech\Warehouse\Model\WarehouseInventoryRepository"/>
    <preference for="Pratech\Warehouse\Api\SystemConfigInterface"
                type="Pratech\Warehouse\Model\SystemConfig"/>
    <preference for="Pratech\Warehouse\Api\PincodeRepositoryInterface"
                type="Pratech\Warehouse\Model\PincodeRepository"/>

    <!-- New preferences for warehouse product repositories and filters -->
    <preference for="Pratech\Warehouse\Api\WarehouseProductRepositoryInterface"
                type="Pratech\Warehouse\Model\Repository\WarehouseProductRepository"/>
    <preference for="Pratech\Warehouse\Api\Data\WarehouseProductResultInterface"
                type="Pratech\Warehouse\Model\Data\WarehouseProductResult"/>

    <!-- Filter repository and related data interfaces -->
    <preference for="Pratech\Warehouse\Api\FilterRepositoryInterface"
                type="Pratech\Warehouse\Model\Repository\FilterRepository"/>
    <preference for="Pratech\Warehouse\Api\Data\FilterResultInterface"
                type="Pratech\Warehouse\Model\Data\FilterResult"/>
    <preference for="Pratech\Warehouse\Api\Data\PriceRangeInterface"
                type="Pratech\Warehouse\Model\Data\PriceRange"/>
    <preference for="Pratech\Warehouse\Api\Data\CategoryFilterInterface"
                type="Pratech\Warehouse\Model\Data\CategoryFilter"/>
    <preference for="Pratech\Warehouse\Api\Data\AttributeFilterInterface"
                type="Pratech\Warehouse\Model\Data\AttributeFilter"/>
    <preference for="Pratech\Warehouse\Api\Data\AttributeOptionInterface"
                type="Pratech\Warehouse\Model\Data\AttributeOption"/>

    <!-- Service classes registration -->
    <type name="Pratech\Warehouse\Service\CacheService">
        <arguments>
            <argument name="cache" xsi:type="object">Magento\Framework\App\Cache</argument>
            <argument name="serializer" xsi:type="object">Magento\Framework\Serialize\Serializer\Json</argument>
            <argument name="logger" xsi:type="object">Pratech\Warehouse\Logger\InventorySyncLogger</argument>
        </arguments>
    </type>

    <type name="Pratech\Warehouse\Service\ProductCollectionService">
        <arguments>
            <argument name="productCollectionFactory" xsi:type="object">Magento\Catalog\Model\ResourceModel\Product\CollectionFactory</argument>
            <argument name="resource" xsi:type="object">Magento\Framework\App\ResourceConnection</argument>
            <argument name="configHelper" xsi:type="object">Pratech\Warehouse\Helper\Config</argument>
            <argument name="logger" xsi:type="object">Pratech\Warehouse\Logger\InventorySyncLogger</argument>
        </arguments>
    </type>

    <type name="Pratech\Warehouse\Service\ProductFormatterService">
        <arguments>
            <argument name="attributeRepository" xsi:type="object">Magento\Catalog\Api\ProductAttributeRepositoryInterface</argument>
            <argument name="cacheService" xsi:type="object">Pratech\Warehouse\Service\CacheService</argument>
            <argument name="resource" xsi:type="object">Magento\Framework\App\ResourceConnection</argument>
            <argument name="configHelper" xsi:type="object">Pratech\Warehouse\Helper\Config</argument>
            <argument name="logger" xsi:type="object">Pratech\Warehouse\Logger\InventorySyncLogger</argument>
        </arguments>
    </type>

    <type name="Pratech\Warehouse\Service\FilterService">
        <arguments>
            <argument name="resource" xsi:type="object">Magento\Framework\App\ResourceConnection</argument>
            <argument name="collectionService" xsi:type="object">Pratech\Warehouse\Service\ProductCollectionService</argument>
            <argument name="attributeRepository" xsi:type="object">Magento\Catalog\Api\ProductAttributeRepositoryInterface</argument>
            <argument name="priceRangeFactory" xsi:type="object">Pratech\Warehouse\Api\Data\PriceRangeInterfaceFactory</argument>
            <argument name="attributeFilterFactory" xsi:type="object">Pratech\Warehouse\Api\Data\AttributeFilterInterfaceFactory</argument>
            <argument name="attributeOptionFactory" xsi:type="object">Pratech\Warehouse\Api\Data\AttributeOptionInterfaceFactory</argument>
            <argument name="cacheService" xsi:type="object">Pratech\Warehouse\Service\CacheService</argument>
            <argument name="logger" xsi:type="object">Pratech\Warehouse\Logger\InventorySyncLogger</argument>
        </arguments>
    </type>

    <type name="Pratech\Warehouse\Service\DarkStoreLocatorService">
        <arguments>
            <argument name="resource" xsi:type="object">Magento\Framework\App\ResourceConnection</argument>
            <argument name="warehouseRepository" xsi:type="object">Pratech\Warehouse\Api\WarehouseRepositoryInterface</argument>
            <argument name="cacheService" xsi:type="object">Pratech\Warehouse\Service\CacheService</argument>
            <argument name="logger" xsi:type="object">Pratech\Warehouse\Logger\InventorySyncLogger</argument>
        </arguments>
    </type>

    <type name="Pratech\Warehouse\Service\DeliveryDateCalculator">
        <arguments>
            <argument name="inventoryCollectionFactory" xsi:type="object">Pratech\Warehouse\Model\ResourceModel\WarehouseInventory\CollectionFactory</argument>
            <argument name="slaCollectionFactory" xsi:type="object">Pratech\Warehouse\Model\ResourceModel\WarehouseSla\CollectionFactory</argument>
            <argument name="warehouseResource" xsi:type="object">Pratech\Warehouse\Model\ResourceModel\Warehouse</argument>
            <argument name="cacheService" xsi:type="object">Pratech\Warehouse\Service\CacheService</argument>
            <argument name="warehouseConfig" xsi:type="object">Pratech\Warehouse\Helper\Config</argument>
            <argument name="logger" xsi:type="object">Pratech\Warehouse\Logger\InventorySyncLogger</argument>
        </arguments>
    </type>

    <!-- Product Response Formatter Helper -->
    <type name="Pratech\Warehouse\Helper\ProductResponseFormatter">
        <arguments>
            <argument name="priceCurrency" xsi:type="object">Magento\Framework\Pricing\PriceCurrencyInterface</argument>
        </arguments>
    </type>

    <!-- Additional dependencies for FilterHelper -->
    <type name="Pratech\Warehouse\Helper\FilterHelper">
        <arguments>
            <argument name="filterableAttributes" xsi:type="object">Magento\Catalog\Model\Layer\Category\FilterableAttributeList</argument>
        </arguments>
    </type>

    <!-- Virtual Types for UI components -->
    <virtualType name="WarehouseGridDataProvider"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">
                Pratech\Warehouse\Model\ResourceModel\Warehouse\Collection
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="warehouse_listing_data_source" xsi:type="string">
                    Pratech\Warehouse\Model\Resource\Warehouse\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Pratech\Warehouse\Model\Resource\Warehouse\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">pratech_warehouse</argument>
            <argument name="resourceModel" xsi:type="string">
                Pratech\Warehouse\Model\ResourceModel\Warehouse
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="WarehouseInventoryGridDataProvider"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">
                Pratech\Warehouse\Model\ResourceModel\WarehouseInventory\Collection
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="warehouse_inventory_listing_data_source" xsi:type="string">
                    Pratech\Warehouse\Model\Resource\WarehouseInventory\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Pratech\Warehouse\Model\Resource\WarehouseInventory\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">pratech_warehouse_inventory</argument>
            <argument name="resourceModel" xsi:type="string">
                Pratech\Warehouse\Model\ResourceModel\WarehouseInventory
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="WarehouseSlaGridDataProvider"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">
                Pratech\Warehouse\Model\ResourceModel\WarehouseSla\Collection
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="warehouse_sla_listing_data_source" xsi:type="string">
                    Pratech\Warehouse\Model\Resource\WarehouseSla\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Pratech\Warehouse\Model\Resource\WarehouseSla\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">pratech_warehouse_sla</argument>
            <argument name="resourceModel" xsi:type="string">
                Pratech\Warehouse\Model\ResourceModel\WarehouseSla
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PincodeGridDataProvider"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">
                Pratech\Warehouse\Model\ResourceModel\Pincode\Collection
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="pincode_listing_data_source" xsi:type="string">
                    Pratech\Warehouse\Model\Resource\Pincode\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Pratech\Warehouse\Model\Resource\Pincode\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">pratech_serviceable_pincodes</argument>
            <argument name="resourceModel" xsi:type="string">
                Pratech\Warehouse\Model\ResourceModel\Pincode
            </argument>
        </arguments>
    </virtualType>

    <!-- Define Logger for logging error -->
    <type name="Pratech\Warehouse\Logger\InventorySyncHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Pratech\Warehouse\Logger\InventorySyncLogger">
        <arguments>
            <argument name="name" xsi:type="string">inventory_sync</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Pratech\Warehouse\Logger\InventorySyncHandler</item>
            </argument>
        </arguments>
    </type>

    <!-- Add just the targeted plugin configuration -->
    <type name="Magento\Framework\Webapi\ServiceOutputProcessor">
        <plugin name="warehouse_product_result_plugin" type="Pratech\Warehouse\Plugin\WarehouseProductResultPlugin" />
    </type>
</config>
