<?xml version="1.0"?>
<!--
/**
 * Pratech_Warehouse
 *
 * @category  XML
 * @package   Pratech\Warehouse
 * @author    Puneet Mittal <puneet.mittal@pratechbrands.com>
 * @copyright 2025 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Existing preferences -->
    <preference for="Pratech\Warehouse\Api\Data\WarehouseInterface" type="Pratech\Warehouse\Model\Warehouse"/>
    <preference for="Pratech\Warehouse\Api\WarehouseRepositoryInterface"
                type="Pratech\Warehouse\Model\WarehouseRepository"/>
    <preference for="Pratech\Warehouse\Api\DeliveryEstimateRepositoryInterface"
                type="Pratech\Warehouse\Model\DeliveryEstimateRepository"/>
    <preference for="Pratech\Warehouse\Api\Data\DeliveryEstimateInterface"
                type="Pratech\Warehouse\Model\Data\DeliveryEstimate"/>
    <preference for="Pratech\Warehouse\Api\Data\WarehouseInventoryInterface"
                type="Pratech\Warehouse\Model\WarehouseInventory"/>
    <preference for="Pratech\Warehouse\Api\Data\InventoryListInterface"
                type="Pratech\Warehouse\Model\Data\InventoryList"/>
    <preference for="Pratech\Warehouse\Api\Data\WarehouseSlaInterface" type="Pratech\Warehouse\Model\WarehouseSla"/>
    <preference for="Pratech\Warehouse\Api\WarehouseSlaRepositoryInterface"
                type="Pratech\Warehouse\Model\WarehouseSlaRepository"/>
    <preference for="Pratech\Warehouse\Api\WarehouseInventoryRepositoryInterface"
                type="Pratech\Warehouse\Model\WarehouseInventoryRepository"/>
    <preference for="Pratech\Warehouse\Api\SystemConfigInterface"
                type="Pratech\Warehouse\Model\SystemConfig"/>
    <preference for="Pratech\Warehouse\Api\PincodeRepositoryInterface"
                type="Pratech\Warehouse\Model\PincodeRepository"/>

    <!-- New preferences for warehouse product repositories and filters -->
    <preference for="Pratech\Warehouse\Api\WarehouseProductRepositoryInterface"
                type="Pratech\Warehouse\Model\Repository\WarehouseProductRepository"/>
    <preference for="Pratech\Warehouse\Api\Data\WarehouseProductResultInterface"
                type="Pratech\Warehouse\Model\Data\WarehouseProductResult"/>

    <!-- Filter repository and related data interfaces -->
    <preference for="Pratech\Warehouse\Api\Data\FilterResultInterface"
                type="Pratech\Warehouse\Model\Data\FilterResult"/>
    <preference for="Pratech\Warehouse\Api\Data\PriceRangeInterface"
                type="Pratech\Warehouse\Model\Data\PriceRange"/>
    <preference for="Pratech\Warehouse\Api\Data\CategoryFilterInterface"
                type="Pratech\Warehouse\Model\Data\CategoryFilter"/>
    <preference for="Pratech\Warehouse\Api\Data\AttributeFilterInterface"
                type="Pratech\Warehouse\Model\Data\AttributeFilter"/>
    <preference for="Pratech\Warehouse\Api\Data\AttributeOptionInterface"
                type="Pratech\Warehouse\Model\Data\AttributeOption"/>

    <preference for="Pratech\Warehouse\Api\Data\CategoryListResultInterface"
                type="Pratech\Warehouse\Model\Data\CategoryListResult"/>

    <!-- Virtual Types for UI components -->
    <virtualType name="WarehouseGridDataProvider"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">
                Pratech\Warehouse\Model\ResourceModel\Warehouse\Collection
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="warehouse_listing_data_source" xsi:type="string">
                    Pratech\Warehouse\Model\Resource\Warehouse\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Pratech\Warehouse\Model\Resource\Warehouse\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">pratech_warehouse</argument>
            <argument name="resourceModel" xsi:type="string">
                Pratech\Warehouse\Model\ResourceModel\Warehouse
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="WarehouseInventoryGridDataProvider"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">
                Pratech\Warehouse\Model\ResourceModel\WarehouseInventory\Collection
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="warehouse_inventory_listing_data_source" xsi:type="string">
                    Pratech\Warehouse\Model\Resource\WarehouseInventory\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Pratech\Warehouse\Model\Resource\WarehouseInventory\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">pratech_warehouse_inventory</argument>
            <argument name="resourceModel" xsi:type="string">
                Pratech\Warehouse\Model\ResourceModel\WarehouseInventory
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="WarehouseSlaGridDataProvider"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">
                Pratech\Warehouse\Model\ResourceModel\WarehouseSla\Collection
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="warehouse_sla_listing_data_source" xsi:type="string">
                    Pratech\Warehouse\Model\Resource\WarehouseSla\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Pratech\Warehouse\Model\Resource\WarehouseSla\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">pratech_warehouse_sla</argument>
            <argument name="resourceModel" xsi:type="string">
                Pratech\Warehouse\Model\ResourceModel\WarehouseSla
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PincodeGridDataProvider"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">
                Pratech\Warehouse\Model\ResourceModel\Pincode\Collection
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="pincode_listing_data_source" xsi:type="string">
                    Pratech\Warehouse\Model\Resource\Pincode\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Pratech\Warehouse\Model\Resource\Pincode\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">pratech_serviceable_pincodes</argument>
            <argument name="resourceModel" xsi:type="string">
                Pratech\Warehouse\Model\ResourceModel\Pincode
            </argument>
        </arguments>
    </virtualType>

    <!-- Define Logger for logging error -->
    <type name="Pratech\Warehouse\Logger\InventorySyncHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Pratech\Warehouse\Logger\InventorySyncLogger">
        <arguments>
            <argument name="name" xsi:type="string">inventory_sync</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Pratech\Warehouse\Logger\InventorySyncHandler</item>
            </argument>
        </arguments>
    </type>

    <!-- Add just the targeted plugin configuration -->
    <type name="Magento\Framework\Webapi\ServiceOutputProcessor">
        <plugin name="warehouse_product_result_plugin" type="Pratech\Warehouse\Plugin\WarehouseProductResultPlugin"/>
    </type>
</config>
