<?xml version="1.0"?>
<!--
/**
 * Pratech_Warehouse
 *
 * @category  XML
 * @package   Pratech\Warehouse
 * @author    Puneet Mittal <puneet.mittal@pratechbrands.com>
 * @copyright 2025 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- Clear cache on product save -->
    <event name="catalog_product_save_after">
        <observer name="pratech_warehouse_clear_product_cache"
                  instance="Pratech\Warehouse\Observer\ClearProductAttributeCacheObserver"/>
    </event>

    <!-- Clear cache on product delete -->
    <event name="catalog_product_delete_after">
        <observer name="pratech_warehouse_clear_product_cache"
                  instance="Pratech\Warehouse\Observer\ClearProductAttributeCacheObserver"/>
    </event>

    <!-- Clear attribute metadata cache when attributes change -->
    <event name="eav_entity_attribute_save_after">
        <observer name="pratech_warehouse_clear_attribute_metadata_cache"
                  instance="Pratech\Warehouse\Observer\ClearAttributeMetadataCacheObserver"/>
    </event>

    <event name="eav_entity_attribute_delete_after">
        <observer name="pratech_warehouse_clear_attribute_metadata_cache"
                  instance="Pratech\Warehouse\Observer\ClearAttributeMetadataCacheObserver"/>
    </event>

    <event name="catalog_entity_attribute_save_after">
        <observer name="pratech_warehouse_clear_attribute_metadata_cache"
                  instance="Pratech\Warehouse\Observer\ClearAttributeMetadataCacheObserver"/>
    </event>
</config>
