<?xml version="1.0"?>
<!--
/**
 * Pratech_Refund
 *
 * @category  XML
 * @package   Pratech\Refund
 * @author    Puneet Mittal <puneet.mittal@pratechbrands.com>
 * @copyright 2024 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Pratech_Refund::refunds" title="Refunds" module="Pratech_Refund"
             resource="Pratech_Refund::refunds" parent="Magento_Sales::sales_operation"
             action="sales/refund" sortOrder="100" translate="true"/>
    </menu>
</config>
