<?xml version="1.0"?>
<!--
/**
 * Pratech_CustomDeliveryCharges
 *
 * @category  XML
 * @package   Pratech\CustomDeliveryCharges
 * @author    Puneet Mittal <puneet.mittal@pratechbrands.com>
 * @copyright 2023 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="delivery" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Delivery Settings</label>
            <tab>pratech</tab>
            <resource>Pratech_CustomDeliveryCharges::delivery_charges_config</resource>
            <group id="delivery_charges" translate="label" type="text" sortOrder="500" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Delivery Charges Settings</label>
                <field id="status" translate="label comment" type="select" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Status</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="label" translate="label comment" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Label</label>
                </field>
                <field id="amount" translate="label comment" type="text" sortOrder="3" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Amount</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="minimum_order_value" translate="label comment" type="text" sortOrder="4" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Minimum Order Amount</label>
                    <comment><![CDATA[Greater than or equal to]]></comment>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="free_shipping_day" translate="label" type="multiselect" sortOrder="5" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Free Shipping Days</label>
                    <source_model>Pratech\CustomDeliveryCharges\Model\Config\Source\ListDays</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
        </section>
    </system>
</config>
