<?xml version="1.0"?>
<!--
/**
 * Pratech_CmsBlock
 *
 * @category  XML
 * @package   Pratech\CmsBlock
 * @author    Puneet Mittal <puneet.mittal@pratechbrands.com>
 * @copyright 2022 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Pratech_CmsBlock" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Webapi"/>
            <module name="Pratech_Base"/>
        </sequence>
    </module>
</config>
