<?xml version="1.0" ?>
<!--
/**
 * Pratech_Cart
 *
 * @category  XML
 * @package   Pratech\Cart
 * @author    Akash Panwar <akash.panwar@pratechbrands.com>
 * @copyright 2025 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cart>
            <cross_sell>
                <enable>0</enable>
                <max_number>3</max_number>
                <mode>allcartitems</mode>
            </cross_sell>
        </cart>
    </default>
</config>
