<?xml version="1.0"?>
<!--
/**
 * Pratech_Cart
 *
 * @category  XML
 * @package   Pratech\Cart
 * @author    Puneet Mittal <puneet.mittal@pratechbrands.com>
 * @copyright 2022 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Pratech\Cart\Api\GuestCartInterface" type="Pratech\Cart\Model\GuestCartManagement"/>
    <preference for="Pratech\Cart\Api\CustomerCartInterface" type="Pratech\Cart\Model\CustomerCartManagement"/>
    <preference for="Pratech\Cart\Api\CouponManagementInterface" type="Pratech\Cart\Model\CouponManagement"/>
    <preference for="Pratech\Cart\Api\GuestCouponManagementInterface" type="Pratech\Cart\Model\GuestCouponManagement"/>
    <preference for="Pratech\Cart\Api\StoreCreditInterface" type="Pratech\Cart\Model\StoreCreditManagement"/>
    <preference for="Pratech\Cart\Api\GuestAddressManagementInterface"
                type="Pratech\Cart\Model\GuestAddressManagement"/>
    <preference for="Magento\SalesRule\Model\Validator" type="Pratech\Cart\Plugin\Model\Validator"/>
    <preference for="Pratech\Cart\Api\CustomerAddressManagementInterface"
                type="Pratech\Cart\Model\CustomerAddressManagement"/>
    <preference for="Pratech\Cart\Api\GuestPaymentManagementInterface"
                type="Pratech\Cart\Model\GuestPaymentManagement"/>
    <preference for="Pratech\Cart\Api\CustomerPaymentManagementInterface"
                type="Pratech\Cart\Model\CustomerPaymentManagement"/>
    <type name="Magento\Quote\Model\Cart\CartTotalRepository">
        <plugin name="Pratech_Cart::cart_total_repository_get" type="Pratech\Cart\Plugin\Cart\CartTotalRepository"/>
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Collection\ExpiredQuotesCollection">
        <plugin name="update_expired_quote_logic"
                type="Pratech\Cart\Plugin\Model\ResourceModel\Collection\ExpiredQuotesCollection"
                sortOrder="10"/>
    </type>
</config>
