<?xml version="1.0"?>
<!--
/**
 * Pratech_DiscountReport
 *
 * @category  XML
 * @package   Pratech\DiscountReport
 * @author    Akash Panwar <akash.panwar@pratechbrands.com>
 * @copyright 2024 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Pratech_DiscountReport::discount_report" title="Report" module="Pratech_DiscountReport"
             resource="Pratech_DiscountReport::discount_report" parent="Pratech_Banners::pratech"
             sortOrder="200" translate="true"/>
        <add id="Pratech_DiscountReport::order_report" title="Orders Discount" module="Pratech_DiscountReport"
             resource="Pratech_DiscountReport::order_report" parent="Pratech_DiscountReport::discount_report"
             action="discountreport/report/index" sortOrder="10" translate="true"/>
    </menu>
</config>