<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Pratech_DiscountReport
 *
 * @category  XML
 * @package   Pratech\DiscountReport
 * @author    Akash Panwar <akash.panwar@pratechbrands.com>
 * @copyright 2024 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="discountreport" frontName="discountreport">
            <module name="Pratech_DiscountReport"/>
        </route>
    </router>
</config>