<?xml version="1.0"?>
<!--
/**
 * Pratech_Catalog
 *
 * @category  XML
 * @package   Pratech\Catalog
 * @author    Akash Panwar <akash.panwar@pratechbrands.com>
 * @copyright 2024 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="add-attributes" xsi:type="array">
                    <item name="class" xsi:type="string">Pratech\Catalog\Ui\DataProvider\Product\Form\Modifier\FaqContent</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
                <item name="linked-configurables" xsi:type="array">
                    <item name="class" xsi:type="string">Pratech\Catalog\Ui\DataProvider\Product\Form\Modifier\LinkedConfigurableProducts</item>
                    <item name="sortOrder" xsi:type="number">200</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>