<?xml version="1.0" ?>
<!--
/**
 * Pratech_Catalog
 *
 * @category  XML
 * @package   Pratech\Catalog
 * @author    Puneet Mittal <puneet.mittal@pratechbrands.com>
 * @copyright 2023 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="product" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Product</label>
            <tab>pratech</tab>
            <resource>Pratech_Catalog::product</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="no_of_products_in_carousel" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>No of products to show in carousel</label>
                    <validate>validate-digits</validate>
                </field>
                <field id="additional_label" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Global Ticker</label>
                </field>
                <field id="best_deals_category_id" translate="label" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Best Deals Category Id</label>
                    <validate>validate-digits</validate>
                </field>
            </group>
            <group id="attributes" translate="label" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>API Response Parameters</label>
                <field id="content" type="multiselect" translate="label" sortOrder="10" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Content</label>
                    <source_model>Pratech\Catalog\Model\Adminhtml\System\Config\Source\Product\Attributes</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="product_information" type="multiselect" translate="label" sortOrder="20" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Product Information</label>
                    <source_model>Pratech\Catalog\Model\Adminhtml\System\Config\Source\Product\Attributes</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="additional_information" type="multiselect" translate="label" sortOrder="30" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Additional Information</label>
                    <source_model>Pratech\Catalog\Model\Adminhtml\System\Config\Source\Product\Attributes</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="custom_attributes" type="multiselect" translate="label" sortOrder="40" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Custom Attributes</label>
                    <source_model>Pratech\Catalog\Model\Adminhtml\System\Config\Source\Product\Attributes</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="configurable_attributes" type="multiselect" translate="label" sortOrder="40"
                       showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Configurable Attributes</label>
                    <source_model>Pratech\Catalog\Model\Adminhtml\System\Config\Source\Product\ConfigurableAttributes</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
            <group id="attribute_suffix" translate="label" sortOrder="50" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Attribute Suffix Configuration</label>
                <field id="price_per_gram_protein" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Price Per Gram Protein</label>
                </field>
                <field id="price_per_100_gram" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Price Per 100 Gram</label>
                </field>
                <field id="price_per_count" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Price Per Count</label>
                </field>
                <field id="price_per_100_ml" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Price Per 100 ml</label>
                </field>
            </group>
            <group id="product_page_size" translate="label" sortOrder="40" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Product Page Size</label>

                <field id="plp_page_size_dweb" translate="label" type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>PLP Page Size Dweb</label>
                    <validate>validate-digits required-entry</validate>
                </field>

                <field id="search_page_size_dweb" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Search Page Size Dweb</label>
                    <validate>validate-digits required-entry</validate>
                </field>

                <field id="plp_page_size_mweb" translate="label" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>PLP Page Size Mweb</label>
                    <validate>validate-digits required-entry</validate>
                </field>

                <field id="search_page_size_mweb" translate="label" type="text" sortOrder="40" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Search Page Size Mweb</label>
                    <validate>validate-digits required-entry</validate>
                </field>

                <field id="plp_page_size_app" translate="label" type="text" sortOrder="50" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>PLP Page Size App</label>
                    <validate>validate-digits required-entry</validate>
                </field>

                <field id="search_page_size_app" translate="label" type="text" sortOrder="60" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Search Page Size App</label>
                    <validate>validate-digits required-entry</validate>
                </field>
            </group>
        </section>
        <section id="cron_schedule" translate="label" sortOrder="10" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Cron Schedule</label>
            <tab>pratech</tab>
            <resource>Pratech_Catalog::product</resource>
            <group id="item_stock_status" translate="label" sortOrder="10" showInDefault="1"
                   showInWebsite="0" showInStore="0">
                <label>Item Stock Status Update Frequency</label>
                <field id="status" translate="label" type="select" sortOrder="1" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Status</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="magento_cache_flush" translate="label" sortOrder="10" showInDefault="1"
                   showInWebsite="0" showInStore="0">
                <label>Magento Cache Flush</label>
                <field id="status" translate="label" type="select" sortOrder="1" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Status</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="update_oos_for_search" translate="label" sortOrder="30" showInDefault="1"
                   showInWebsite="0" showInStore="0">
                <label>Update Out Of Stock for Search</label>
                <field id="status" translate="label" type="select" sortOrder="1" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Status</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
