<?xml version="1.0"?>
<!--
/**
 * Pratech_ClickPostIntegration
 *
 * @category  XML
 * @package   Pratech\ClickPostIntegration
 * @author    Puneet Mittal <puneet.mittal@pratechbrands.com>
 * @copyright 2022 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Pratech\ClickPostIntegration\Api\ClickPostInterface"
                type="Pratech\ClickPostIntegration\Model\ClickPost"/>
</config>
