<?xml version="1.0" ?>
<!--
/**
 * Pratech_Recurring
 *
 * @category  XML
 * @package   Pratech\Recurring
 * @author    Akash Panwar <akash.panwar@pratechbrands.com>
 * @copyright 2025 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Pratech_Recurring::pratech_recurring" title="Recurring" module="Pratech_Recurring"
             resource="Pratech_Recurring::Recurring" parent="Pratech_Banners::pratech"
             sortOrder="300" translate="true"/>
        <add id="Pratech_Recurring::pratech_recurring_subscription" title="Manage Subscriptions" module="Pratech_Recurring"
             resource="Pratech_Recurring::Subscription" parent="Pratech_Recurring::pratech_recurring"
             action="pratech_recurring/subscription/index" sortOrder="50" translate="true"/>
	</menu>
</config>
