<?xml version="1.0" ?>
<!--
/**
 * Pratech_Recurring
 *
 * @category  XML
 * @package   Pratech\Recurring
 * @author    Akash Panwar <akash.panwar@pratechbrands.com>
 * @copyright 2025 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="pratech_recurring" id="pratech_recurring">
			<module before="Magento_Backend" name="Pratech_Recurring"/>
		</route>
	</router>
</config>
