<td  class="return-cell return-rma-details">
    <!-- ko if: $data.is_editable -->
    <p>
        <strong data-bind="i18n: 'Return Reason:'"></strong>
        <span data-bind="text: $parents[1].indexedReasons[$data.reason_id()]"></span>
    </p>
    <p>
        <strong data-bind="i18n: 'Items Images:'"></strong>
        <div class="uploaded-items-images-container">
            <!-- ko foreach: $data.item_images -->
                <a href="#" data-bind="attr: {href: $data}" target="_blank">
                    <img data-bind="attr: {src: $data}" class="uploaded-items-images"/>
                </a>
            <!-- /ko -->
        </div>
    </p>

    <a class="return-button-rma" data-bind="i18n: 'Edit', attr: {title: 'Edit'}, click: $parent.edit.bind($parent, $index(), $element)"></a>
    <!-- /ko -->

    <!-- ko ifnot: $data.is_editable  -->
    <p>
        <p data-bind="i18n: 'Return Reason:'"></p>
        <select class="admin__control-select return-select"
                data-bind="options: $parents[1].reasons,
                optionsText: function (item) {
                    return item.label;
                },
                optionsValue: function (item) {
                    return item.value;
                },
                value: $data.reason_id,
                attr: {disabled: $data.is_expired ? 'disabled' : false}">
        </select>
    </p>

    <a class="return-button-rma" data-bind="i18n: 'Apply', attr: {title: 'Save'}, click: $parent.save.bind($parent, $index())"></a>
    <!-- /ko -->
</td>