<?xml version="1.0" ?>
<!--
/**
 * Hyuga_Cart
 *
 * @category  XML
 * @package   Hyuga\Cart
 * @author    Akash Panwar <akash.panwar@pratechbrands.com>
 * @copyright 2025 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="cart" translate="label" sortOrder="130"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Cart</label>
            <tab>pratech</tab>
            <resource>Hyuga_Cart::cart</resource>
            <group id="cross_sell" translate="label" type="text" sortOrder="110"
                   showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Cross Sell on Cart Page</label>
                <field id="enable" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="max_number" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Maximum number of cross-sell</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="mode" translate="label" type="select" sortOrder="30" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Show Cross Sell Products For</label>
                    <source_model>Hyuga\Cart\Model\System\Config\Source\CrossSell\Mode</source_model>
                    <comment>This will define for which cart items the cross-sell products will be shown.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
