<?xml version="1.0"?>
<!--
/**
 * Pratech_Filters
 *
 * @category  XML
 * @package   Pratech\Filters
 * @author    Vivek Kumar <vivek.kumar@pratechbrands.com>
 * @copyright 2023 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Pratech_Filters::category_thumbnail" title="Category Thumbnail Upload"
                          translate="true" sortOrder="300"/>
                <resource id="Pratech_Banners::pratech">
                    <resource id="Pratech_Filters::filters" title="Filter Management" translate="title" sortOrder="50"/>
                    <resource id="Pratech_Filters::filters_position" title="Manage Filters Position" translate="title"
                              sortOrder="51"/>
                    <resource id="Pratech_Filters::quick_filter" title="Manage Quick Filters" translate="title"
                              sortOrder="55"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
