<?xml version="1.0"?>
<!--
/**
 * Pratech_Filters
 *
 * @category  XML
 * @package   Pratech\Filters
 * @author    Vivek Kumar <vivek.kumar@pratechbrands.com>
 * @copyright 2023 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="FiltersPositionGridDataProvider"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">
                Pratech\Filters\Model\ResourceModel\FiltersPosition\Collection
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="filters_position_listing_data_source" xsi:type="string">
                    Pratech\Filters\Model\Resource\FiltersPosition\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Pratech\Filters\Model\Resource\FiltersPosition\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">pratech_filters_position</argument>
            <argument name="resourceModel" xsi:type="string">
                Pratech\Filters\Model\ResourceModel\FiltersPosition
            </argument>
        </arguments>
    </virtualType>
    <preference for="Pratech\Filters\Api\FiltersRepositoryInterface" type="Pratech\Filters\Model\Filters"/>
    <virtualType name="QuickFiltersGridDataProvider"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">
                Pratech\Filters\Model\ResourceModel\QuickFilters\Collection
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="quick_filters_listing_data_source" xsi:type="string">
                    Pratech\Filters\Model\Resource\QuickFilters\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Pratech\Filters\Model\Resource\QuickFilters\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">quick_filters</argument>
            <argument name="resourceModel" xsi:type="string">
                Pratech\Filters\Model\ResourceModel\QuickFilters
            </argument>
        </arguments>
    </virtualType>
</config>
