<?xml version="1.0"?>
<!--
/**
 * Pratech_Filters
 *
 * @category  XML
 * @package   Pratech\Filters
 * @author    Vivek Kumar <vivek.kumar@pratechbrands.com>
 * @copyright 2024 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- Observers for Filters Position -->
    <event name="filters_position_controller_save_after">
        <observer name="pratech_filters_position_save_cache_cleaner"
                  instance="Pratech\Filters\Observer\CacheCleanerObserver"/>
    </event>
    <event name="filters_position_controller_delete_after">
        <observer name="pratech_filters_position_delete_cache_cleaner"
                  instance="Pratech\Filters\Observer\CacheCleanerObserver"/>
    </event>
    <event name="filters_position_controller_bulk_delete_after">
        <observer name="pratech_filters_position_bulk_delete_cache_cleaner"
                  instance="Pratech\Filters\Observer\CacheCleanerObserver"/>
    </event>

    <!-- Observers for Quick Filters -->
    <event name="quick_filter_controller_save_after">
        <observer name="pratech_quick_filter_save_cache_cleaner"
                  instance="Pratech\Filters\Observer\CacheCleanerObserver"/>
    </event>
    <event name="quick_filter_controller_delete_after">
        <observer name="pratech_quick_filter_delete_cache_cleaner"
                  instance="Pratech\Filters\Observer\CacheCleanerObserver"/>
    </event>
    <event name="quick_filter_controller_bulk_delete_after">
        <observer name="pratech_quick_filter_bulk_delete_cache_cleaner"
                  instance="Pratech\Filters\Observer\CacheCleanerObserver"/>
    </event>
</config>
