<?xml version="1.0"?>
<!--
/**
 * Pratech_RedisIntegration
 *
 * @category  XML
 * @package   Pratech\RedisIntegration
 * @author    Puneet Mittal <puneet.mittal@pratechbrands.com>
 * @copyright 2023 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="redis" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Integrations</label>
            <tab>pratech</tab>
            <resource>Pratech_RedisIntegration::redis_config</resource>
            <group id="credentials" translate="label" type="text" sortOrder="500" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Redis Connection Configuration</label>
                <field id="host" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Host</label>
                </field>
            </group>
        </section>
    </system>
</config>
