<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <recurring>
            <general_settings>
                <enable>0</enable>
                <enable_discount>0</enable_discount>
            </general_settings>
        </recurring>
    </default>
</config>
