<?xml version="1.0" ?>
<!--
/**
 * Pratech_Blog
 *
 * @category  XML
 * @package   Pratech\Blog
 * @author    Akash Panwar <akash.panwar@pratechbrands.com>
 * @copyright 2024 Copyright (c) Pratech Brands Private Limited
 * @link      https://pratechbrands.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="cms_page_prepare_save">
		<observer name="pratech_blog_observer_cms_pagepreparesave_cms_page_prepare_save" instance="Pratech\Blog\Observer\Cms\PagePrepareSave"/>
	</event>
</config>